<div class="container">

  <h1>FORMULARIOS:</h1>

  <h6>{{cliente | json}}</h6>
  <h6>Valido: {{formularioUsuario.valid}}</h6>
  <h6>Invalido: {{formularioUsuario.invalid}}</h6>

  <div *ngIf="formularioUsuario.invalid" class="alert alert-danger">
    Ingrese todos los campos correctamente.
  </div>


  <!--form ngNoForm-->
  <form autocomplete="off" #formularioUsuario="ngForm" (ngSubmit)="guardar(formularioUsuario)">
    <div class="form-group">
      <label class="form-control-label">Nombre</label>
      <input type="text" name="nombre" class="form-control"
      [(ngModel)]="cliente.nombre" required minlength="3">
    </div>

    <div class="form-group">
      <label class="form-control-label">E-mail</label>
      <input type="text" name="email" class="form-control"
      [(ngModel)]="cliente.email" required email>
    </div>

    <div class="form-group">
      <label class="form-control-label">Profesión</label>
      <select name="profesion" class="form-control"
      [(ngModel)]="cliente.profesion" required>
        <option value="">Selecione</option>
        <!--option *ngFor="let profesion of profesiones" value="{{profesion}}">{{profesion}}</option-->
        <option *ngFor="let profesion of profesiones" [value]="profesion">{{profesion}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.valid">Guardar</button>
  </form>

</div>
