<div class="container">

  <h1>FORMULARIOS:</h1>

  <!--form ngNoForm-->
  <form #usuarioForm="ngForm" (ngSubmit)="guardar(usuarioForm)">
    <div class="form-group">
      <label class="form-control-label">Nombre</label>
      <input type="text" name="nombre" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label class="form-control-label">E-mail</label>
      <input type="text" name="mail" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label class="form-control-label">Profesión</label>
      <select name="profesion" class="form-control" [ngModel]="profesionDefalt">
        <option value="">Selecione</option>
        <!--option *ngFor="let profesion of profesiones" value="{{profesion}}">{{profesion}}</option-->
        <option *ngFor="let profesion of profesiones" [value]="profesion">{{profesion}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>

</div>
