<div class="container">

  <div class="alert alert-success" role="alert" 
  [hidden]="!agregado">
  <!--*ngIf="agregado" -->

      Funcionário adicionado: <strong>{{nombre}}</strong>
  </div>

  <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" [(ngModel)]="nombre"
      (focus)="agregado=false">
  </div>

  <button type="button" class="btn btn-primary" 
      (click)="agregar()" [disabled]="nombre.length==0">Agregar</button>



  <div class="row" style="margin-top:20px">
    <div class="col-2" *ngFor="let trab of trabajadores">
      <app-trabajador-card [inputTrabajador]="trab"></app-trabajador-card>
    </div>
  </div>


</div>



<!--app-bem-vindo></app-bem-vindo-->

