<div class="container">

  <hr>

  <h1>Peticiones HTTP:</h1>

  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" #nombre>
  </div>

  <button type="button" class="btn btn-primary"
    (click)="agregrar(nombre.value); nombre.value = ''">Adicionar</button>

  <table class="table" style="margin-top: 20px">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ciudad of ciudades">
        <td>{{ ciudad.id }}</td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="ciudad.nombre">
            <span class="input-group-btn">
              <button class="btn btn-primary"
                (click)="atualizar(ciudad)">Atualizar</button>
            </span>
          </div>
        </td>
        <td>
          <button class="btn btn-danger"
            (click)="excluir(ciudad.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
